#ribbon{
 background-color:#246ead;
}

.page-footer{
 background-color:#246ead;
}

.jarviswidget-color-darken>header{
 background-color:#246ead;
}

.jarviswidget-color-blueDark header {
    display: block;
    background: #3a3633;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMzYTM2MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyNzI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, #246ead 95%, #15277b 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(95%, #246ead), color-stop(100%, #15277b));
    background: -webkit-linear-gradient(left, #246ead 95%, #15277b 100%);
    background: -o-linear-gradient(left, #246ead 95%, #15277b 100%);
    background: -ms-linear-gradient(left, #246ead 95%, #15277b 100%);
    background: linear-gradient(to right, #246ead 95%, #15277b 100%);
    min-height: 100%
}

aside {
    display: block;
    background: #3a3633;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMzYTM2MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyNzI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, #246ead 95%, #15277b 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(95%, #246ead), color-stop(100%, #15277b));
    background: -webkit-linear-gradient(left, #246ead 95%, #15277b 100%);
    background: -o-linear-gradient(left, #246ead 95%, #15277b 100%);
    background: -ms-linear-gradient(left, #246ead 95%, #15277b 100%);
    background: linear-gradient(to right, #246ead 95%, #15277b 100%);
    min-height: 100%
}

nav ul ul {
    margin: 0;
    display: none;
    background: rgba(75, 94, 185, .6);
    padding: 7px 0
}

nav ul li a {
    color: #e4e1df;
}